@if(showResult) {

<div class="results">

    <h2>Quiz klart!</h2>

    <p>Du fick {{ score }} av {{ questions.length }} rätt.</p>

    <button (click)="resetQuiz()">Starta om</button>

</div>

}

@else {

<div class="quizForm">

    <p>Fråga {{ currentIndex + 1 }} av {{ questions.length }}</p>

    <h2>{{ questions[currentIndex].question }}</h2>

    <div class="answers">
        @for (option of questions[currentIndex].answers; track option) {
        <button (click)="selectAnswer(option)">{{ option }}</button>
        } @empty {
        <li>Inga svar hittades.</li>
        }

    </div>

</div>

}